/*---------------------------------------------------------- Inicio Media 320px--------------------------------------------------*/
#fotosProductos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}
.producto {
  width: 80%;
  justify-content: space-evenly;
  margin: 5px;
}
div a .producto {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
/*----------------------------------------------------------FIN MEDIA 320px------------------------------------------------------*/

/*---------------------------------------------------------- Inicio Media 600px--------------------------------------------------*/
@media only screen and (min-width: 600px) {
  .producto {
    width: 60%;
    justify-content: stretch;
  }
  .producto:hover {
    transform: scale(1.1);
  }
}
/*----------------------------------------------------------FIN MEDIA 600px------------------------------------------------------*/

/*----------------------------------------------------------Inicio Media 1080px--------------------------------------------------*/
@media only screen and (min-width: 1080px) {
  #fotosProductos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 5px;
    row-gap: 10px;
    /*grid-template-areas:
      "foto1 foto2 foto3"
      "foto4 foto5 foto6"; */
  }
  .producto {
    width: 80%;
    justify-content: stretch;
  }
  .producto:hover {
    transform: scale(1.1);
  }
}

/*----------------------------------------------------------FIN MEDIA 1080px------------------------------------------------------*/
